.mainContainer {
    background-color: darkslategrey;
    width: 330px;
    padding: 200px;
    border-radius: 30px;
    margin-left: 450px;
    margin-top: 50px;
}

input{
    padding: 20px;
    width: 89%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
}
.button1{
    display: grid;
    grid-template-columns: repeat(4, 77px);
    row-gap: 10px;
    column-gap: 10px;
    margin-right: 18px;
}
.button1 button{
    height: 70px;
    width: 70px;
    background-color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.button2{
    display: grid;
    grid-template-columns: 140px 95px 70px 1fr;
    gap: 13px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0 0 40%);
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.button2 .equals{
    width: 155px;
    background: palegoldenrod;
    font-size: 40px;
    color: black;
}